body {
    font-family: 'arial';
}

.header {
    top: 0;
    width: 100%;
    background-color: #18385D;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.header p {
    font-size: 20px;
    list-style: none;
    padding:10px 30px 0px 30px;
    color:white;
    line-height:40px; 
}
.menu2 {
    display: flex;
}

.menu2 a {
    font-size: 15px;
}

a {
    color:#fff;
    text-decoration:none;
}

.page2 {
    background-color:#EEDDF0;
    padding: 100px;
}

.page3 {
    background-color:#F5D8D7;
    padding: 100px;
}

.page4 {
    background-color:#C1D8AC;
    padding: 100px;
}

.page5 {
    background-color:#CBE4EC;
    padding: 100px;
}

.midasi {
    padding-top: 40px;
}

.midasi h1{
    width: 100%;
    text-align: center;
    color:#000;
    padding:30px 0px;
    background-color:#fff;
    font-size: 70px;
    height: 200px;
    line-height: 200px;
    margin-top: 80px;
}


.marin {
    font-size: 30px;
    padding: 0px 60px 30px 60px;
}
.komi {
    text-align: center;
    background-color:#fff;
    color: black;
    font-size: 50px;
}

.page2 h2 {
    border-bottom: 2px dotted #000;
}



body {
    background-color:#F8EED1;
}


 ul {
     padding-top: 30px 20px;
 }

 .box {
     width: 100%;
     display: flex;
 }
 .box .img {
     padding-top: 3%;
     width: 100%;
     
 }

 .box .img img {
     height: auto;
     width: 100%;
 }

 .sirase {
     border:2px dotted #000;
     margin: 10px auto;

 }