h1 {
     color:#000;
     background-color:#fff;
}
body {
    background-color: #F8EED1;
}
.header {
    background-color: #18385D;
    height: 70px;
}
li {
    list-style: none;
    padding:20px 30px;
    color:white;
}
ul {
    display: flex;
}

